$block: '.bookPage';

#{$block} {
    max-width: 100vw;
    overflow-x: hidden;
    width: 100%;
    min-width: 100vw;
    padding: 40px 10vw;
    display: flex;
    flex-flow: column;
    gap: 40px;

    &__bookList {
        width: 100%;
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        gap: 80px;
    }

    &__pagination {
        align-self: center;
    }
}
