$block: '.userAchievementsList';

#{$block} {
    min-width: 100%;
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    gap: 10px;
    box-sizing: border-box;

    &__noAchievements {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
    }
}

